# Run the hourly jobs
{% if cronie_hourly_shell is defined %}
SHELL={{ cronie_hourly_shell }}
{% else %}
SHELL=/bin/bash
{% endif %}
{% if cronie_hourly_path is defined %}
PATH={{ cronie_hourly_path|join(':') }}
{% else %}
PATH=/sbin:/bin:/usr/sbin:/usr/bin
{% endif %}
{% if cronie_hourly_mailto is defined %}
MAILTO={{ cronie_hourly_mailto }}
{% else %}
MAILTO=root
{% endif %}
{% if cronie_hourly_home is defined %}
HOME={{ cronie_hourly_home }}
{% endif %}
01 * * * * root run-parts /etc/cron.hourly
