# Run the hourly jobs
SHELL={{ cronie_hourly_shell }}
PATH={{ cronie_hourly_path|join(':') }}
MAILTO={{ cronie_hourly_mailto }}
HOME={{ cronie_hourly_home }}
01 * * * * root run-parts /etc/cron.hourly
